---
---

@import 'minima';

html {
  scroll-behavior: smooth;
}
a {
  color: #0056b3;
}
.post-meta {
  color: #555;
  a {
    text-decoration: underline;
  }
}
.contact-list {
  display: grid;
  gap: 0.215rem;
  .p-name {
    color: #555;
  }
}
.footer-col-3 > p {
  color: #555;
}
.svg-icon {
  fill: #555;
}
.post-secondary {
  display: flex;
  justify-content: space-between;
}
