<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
      window.addEventListener('message', event => {
      // Checking datas
      if (event.origin !== 'https://giscus.app') return;
      if (!event.data.giscus) return;

      const giscusData = event.data.giscus;
      const commentLink = document.getElementById('comment-link');
      const reactionCountEl = document.getElementById('reaction-count');

      // Refactor number if there is any comment
      if (giscusData.discussion && commentLink) {
        const commentCount = giscusData.discussion.totalCommentCount;
        if (commentCount > 0){
          const text = commentCount + (commentCount > 1 ? ' Comments' : ' Comment');
          commentLink.textContent = text;
        }
      }

      // Refactor number if there is any reaction
      if (giscusData.discussion && reactionCountEl) {
        const reactionCount = giscusData.discussion.reactionCount;
        if (reactionCount > 0){
          const text = (reactionCount > 1 ? ' reactions' : ' reaction');
          reactionCountEl.innerHTML = `<strong>${reactionCount}</strong>${text}`;
        }
      }
    });
    </script>
  </body>

</html>
