---
layout: default
---
{%- assign words = content | number_of_words -%}
{%- assign minutes = words | divided_by: 180 | at_least: 1 -%}

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <div class="post-secondary">
      <p class="post-meta">
        <time
          class="dt-published"
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
        >
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
          -%} {{ page.date | date: date_format }}
        </time>
        {%- if page.author -%} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"
          ><span class="p-author h-card" itemprop="name"
            >{{ page.author }}</span
          ></span
        >
        {% endif %}
        | <a id="comment-link" href="#comments">0 Comments</a>
        | <span>{{ minutes }} min read</span>
      </p>
      <p id="reaction-count" class="post-meta"></p>
    </div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<hr />
<h2 id="comments">Comments</h2>

<script
  src="https://giscus.app/client.js"
  data-repo="mksdesuyo/mks-writing"
  data-repo-id="R_kgDOPhmdXQ"
  data-category="Comments"
  data-category-id="DIC_kwDOPhmdXc4Cufso"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="bottom"
  data-theme="catppuccin_latte"
  data-lang="en"
  crossorigin="anonymous"
  async
></script>
